<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="{{ url_for('index') }}">Your !!! TV Shows</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      </ul>
      <ul class="nav navbar-nav my-2 my-lg-0">
         <li class="nav-item dropdown">
            {% if session['name'] %}
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">{{ session['name'] }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
            </div>
            {% else %}
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">My Account</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="{{ url_for('login') }}">Login</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="{{ url_for('register') }}">Register</a>
            </div>
            {% endif %}
         </li>
      </ul>
   </div>
</nav>
<form action="{{ url_for('postsearch') }}" method="POST">
   <div class="form-group">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="text" class="form-control rounded-0" id="formGroupExampleInput" placeholder="Search something dude!!" name="html_keyword">
   </div>
</form>